
/*--//responsive--*/
.card_2-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card_2 {
  margin: 30px 50px 0 90px;
  width: 300px;
  height: 500px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 10px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
  display: inline-block;
  align-items: center;

}


.card_2 .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card_2 .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card_2 .card_title1 {
  text-align: center;
  border-radius: 0px 0px 0px 0px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card_2:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card_2-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.product_detail{
    padding-bottom:auto;
    background-color:#d9d9d9;
    margin: 0% 10% 0% 40%;
    width: 700px;
    height: 1000px;
    display: inline-block;
    align: center;
}
.carousel-item {
  width: 200px;
  height: 200px !important;
}
.carousel-inner{
  width: 200px;
  height: 200px !important;
}