{% extends "tinfo/base.html" %}
{% load static %}
{% block content %}
     <!-- bradcam_area  -->

    <!--/ bradcam_area  -->
    <!-- ================ contact section start ================= -->
    {% if message_name %}
        <div class="bradcam_area bradcam_bg_4" id="mesaj_contact">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="bradcam_text text-center">
                            <h3>Multumim {{message_name}}!</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="bradcam_area bradcam_bg_4">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="bradcam_text text-center">
                            <h3>contact</h3>
                            <p>Va vom raspunde in cel mai scurt timp</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="container_contact">
                        <div class="d-none d-sm-block mb-5 pb-4">
                            <div class="col-md-6 contact_left p-4">
                                <iframe width="815" height="450" frameborder="0" style="border:0"
                                    src="https://www.google.com/maps/embed/v1/place?q=place_id:EilTdHJhZGEgQ2Fwb3JhbCBJbGluYSwgQnVjdXJlyJl0aSwgUm9tYW5pYSIuKiwKFAoSCbtJaMKW_7FAEWvFYvsyGFgjEhQKEglPrTy_OvmxQBEoppx84zIGrA&key=AIzaSyCi9MPt0Q9ojB0pk7PbQNufgeHSyTZ2efA" allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                        <form id="contact" action="{% url 'tinfo:contact' %}" method="post">
                            {% csrf_token %}
                            <div class="field-group">
                                <fieldset>
                                    <label for="name"></label>
                                    <input type="text" id="name" name="message_name" placeholder="Your name..">
                                </fieldset>
                                <fieldset>
                                    <label for="mail"></label>
                                    <input type="email" id="mail" name="mail" placeholder="Your email...">
                                </fieldset>
                                <fieldset>
                                    <label for="subject"></label>
                                    <textarea id="subject" name="subject" cols="auto" rows="9" placeholder="Your message to us..." style="height:200px"></textarea>
                                </fieldset>
                                <fieldset>
                                     <button name="action" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}