{% extends "tinfo/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <form id="post_form" method="post" action="{% url 'unitate_cazare:inscriere_unitate' %}" enctype="multipart/form-data">

        {% csrf_token %}
        {% for hidden in postForm.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <p>Tip Proprietate</p>
        {{ postForm.tip_proprietate }}
        <br/>
        <br/>
        <p>Nume Proprietate</p>
        {{ postForm.nume_proprietate }}
        <br/>
        <p>Judet</p>
        {{ postForm.judet }}
        <br/>
        <br/>
        <p>Localitatea</p>
        {{ postForm.localitatea }}
        <br/>
        <p>Strada</p>
        {{ postForm.strada }}
        <br/>
        <br/>
        <p>Numele strazii</p>
        {{ postForm.numele_strazii }}
        <br/>
        <p>Numar</p>
        {{ postForm.numar }}
        <br/>
        <p>Numar Total Camere</p>
        {{ postForm.nr_total_camere }}
        <br/>
        <p>Numar Total Locuri</p>
        {{ postForm.nr_total_locuri }}
        <br/>
        <p>Descriere Proprietate</p>
        {{ postForm.descriere_proprietate }}
        <br/>
        <p>Forma Client</p>
        {{ postForm.forma_client }}
        <br/>
        <br/>
        <p>Nume Client</p>
        {{ postForm.nume_client }}
        <br/>
        <p>Numar Telefon</p>
        {{ postForm.numar_telefon }}
        <br/>
        <p>Email Client</p>
        {{ postForm.email_client }}
        <br/>
        <p>Poza Prezentare Locatie</p>
        {{ postForm.poza_prezentare }}
        <br/>

        {{ formset.management_form }}
        {% for form in formset %}
            {{ form|crispy }}
        {% endfor %}

        <button type="submit" class="btn-success">Sign Up</button>

<!--        <input type="submit" name="submit" value="Submit" />-->
    </form>

{% endblock %}

<div class="testbox">
    <form action="/">
        <div class="item">
            <div class="name-item">
                <p>Tip Proprietate</p>
                {{ postForm.tip_proprietate }}
                <p>Nume Proprietate</p>
                {{ postForm.nume_proprietate }}
            </div>
        </div>
        <div class="item">
            <div class="name-item">
                <p>Judet</p>
                {{ postForm.judet }}
                <p>Localitatea</p>
                {{ postForm.localitatea }}
                <p>Strada</p>
                {{ postForm.strada }}
                <p>Numele strazii</p>
                {{ postForm.numele_strazii }}
                <p>Numar</p>
                {{ postForm.numar }}
            </div>
        </div>
    </form>
</div>
