{% extends "tinfo/base.html" %}
{% load static %}
{% block content %}
    <div class="popular_destination_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Cautati o destinatie</h3>
                        <p>Check out our awesome destinations</p>
                    </div>
                </div>
            </div>
            {% for judet in context %}
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="single_destination">
                            <div class="thumb">
                                <img src="{{ judet.imagine_judet.url }}" alt="">
                            </div>
                            <div class="content">
                                <p class="d-flex align-items-center">{{ judet.judet }} <a href="{% url 'unitate_cazare:locatii_judet' judet.id %}">  Click</a> </p>

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}