{% extends "tinfo/base.html" %}
{% load static %}
{% block content %}

    {% for locatii in context1 %}
        <a href="{% url 'unitate_cazare:locatie_detail' locatii.id %}">{{ locatii.nume_proprietate }}</a>
        {{ locatii.localitatea }}
        {{ locatii.numele_strazii }}
        {{ locatii.numar }}
        {{ locatii.nume_client }}
        {{ locatii.numar_telefon }}
        {{ locatii.email_client }}
        {{ locatii.nr_total_camere }}
        {{ locatii.nr_total_locuri }}
        <img src="{{ locatii.poza_prezentare.url }}" />


    {% endfor context1 %}

{% endblock %}