{% extends "tinfo/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <!-- //banner-->
    <!--/login -->
    <section class="banner-bottom py-5">
        <div class="container">
            <div class="content-grid">
                <div class="content-bottom">
                    <form action="#" method="post">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Register</legend>
                            {{ user|crispy }}
                        </fieldset>
                        <div class="content-input-field">
                            <button type="submit" class="btn">Sign Up</button>
                        </div>
                        <div class="list-login-bottom text-center mt-lg-5 mt-4">
                            <a href="#" class="">By clicking Signup, I agree to your terms</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- /login -->


{% endblock %}